*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: bisque;
     /* display: flex; */
   justify-content: center;
}

.div{
    background-color: blueviolet;
    margin-top: 10px;
    width: 50px;
    margin:0 auto;

}